.container {
  border: 3px solid black;
}
.row {
  border: 3px solid orange;
}

.pink {
  background-color: pink;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
  color: white;
}

.orange {
  background-color: orange;
}
